/* Accurator css */
html, body {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding-top: 51px;
}

.bottomButtons {
	margin-bottom: 20px;
}

/* Navbar */
#headerImage {
	height: 20px;
}

@media (min-width: 768px){
	.navbarSearch {
		padding: 9px;
		position: absolute;
		width: 100%;
		left: 0;
		text-align: center;
		margin: auto;
	}
}

/* Intro page */
.introScreen {
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #333;
}

.backgroundImage {
	min-width: 125%;
	max-width: 125%;	
}

.introText {
	position: absolute; 
	top: 75px;
}

/* Register page */
.registerMessage {
	margin-top: 50px;
}

/* Domain page */
.domainScreen {
	background-color: #333;
}

.domainImage {
	max-width: 100%;
	cursor: pointer;
}

#txtTitle {
	text-align: center;
	color: #fff;
	padding-bottom: 10px;
}

.domainTitle {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 100%;
	cursor: pointer;
}

.noGutter {
  margin-left: 0;
  margin-right: 0;
}

.noPadding {
   padding-left: 0;
   padding-right: 0;
   overflow: hidden;
}

/* Profile page */
#rowStartChange {
	margin-top: 20px;
}

#frmLocale {
	margin-top: 20px;
	margin-bottom: 20px;
}

#rowLastAnnotated {
	margin-top: 20px;
}

#txtDomain {
	margin-bottom: 20px;
}

#frmChangeLocale {
	padding-left: 0px;
}

.thumbnail {
	cursor: pointer;
}

/* Expertise page */
#rowExpertise {
	margin-top: 10px;
}

#rowButtonsExpertise {
	margin-top: 10px;
}

#expertiseLabel {
	line-height: 150%;
}
/* About page */
.footerLogo {
	height: 40px;
	padding-bottom: 10px;
}

#aboutButtons {
	margin-top: 20px;
	margin-bottom: 20px;
}

.video {
	text-align: center;
}

/* Annotate page */
#navigation {
	margin-top: 10px;
}

#frmSearchAnnotate {
	text-align: center;
}

.navButton {
	width: 100px;
}

#btnAlignRight {
	text-align: right;
}

#metadata {
	margin-top: 10px;
}

/* Sliders */
slider.slider-horizontal {
	height: 15px;
	align: center;
}

.slider-handle {
	width: 15px;
  	height: 15px;
}

.sliderLabel {
	padding: 0px 15px 0px 15px;
}

/* Buttons */
.btn-transparent {
	height: 40px; color: #fff; background-color: rgba(0, 0, 0, 0.33);	border: none;
}

.btn-transparent:focus {
	background-color: #fff; text-decoration: none;
}

.btn-transparent:hover {
	background-color: #fff; text-decoration: none;
}

.btn-link {
	color: #505050;
}

.btn-link:hover {
	color: #909090; cursor: pointer;
}

.btn-link:focus {
	outline: none;
}