/*******************************************************************************
Accurator CSS
*******************************************************************************/
html, body {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding-top: 51px;
}

.bottomButtons {
	margin-bottom: 20px;
}

#alertMessage {
	margin-top: 20px;
}

.logo {
	text-align: center;
	text-align: bottom;
}

.footerDiv {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 35px;
}

.footerDivRelative {
	height: 35px;
	margin-top: 20px;
}

.footerImgLogo {
	height: 25px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#footerImgRijksmuseumLogo {
	margin-top: 13px;
	height: 17px;
}

#footerImgCommitLogo {
	margin-top: 10px;
	height: 20px;
}

/*******************************************************************************
Navbar
*******************************************************************************/
#navbarImgLogo {
	height: 20px;
}

#navbarFrmSearch{
	text-align: center;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/*******************************************************************************
Intro
*******************************************************************************/
.intro {
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #333;
}

.introImgBackground {
	min-width: 125%;
	max-width: 125%;
}

.introDivContainer {
	position: absolute;
	top: 75px;
}

/*******************************************************************************
Form page
*******************************************************************************/
#formChkEmail {
	margin-top: 10px;
}

/*******************************************************************************
Domain page
*******************************************************************************/
.domain {
	background-color: #333;
}

.domainImg {
	max-width: 100%;
	cursor: pointer;
}

#domainTxtTitle {
	text-align: center;
	color: #fff;
	padding-bottom: 10px;
}

.domainHdr {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 100%;
	cursor: pointer;
}

.noGutter {
  margin-left: 0;
  margin-right: 0;
}

.noPadding {
   padding-left: 0;
   padding-right: 0;
   overflow: hidden;
}

/*******************************************************************************
Profile page
*******************************************************************************/
#profileDivStartChange {
	margin-top: 20px;
}

#frmLocale {
	margin-top: 20px;
	margin-bottom: 20px;
}

#profileDivLastAnnotated {
	margin-top: 20px;
}

#profileTxtDomain {
	margin-bottom: 20px;
}

#frmChangeLocale {
	padding-left: 0px;
}

.thumbnail {
	cursor: pointer;
}

/*******************************************************************************
Expertise page
*******************************************************************************/
.expertiseDiv {
	margin-top: 10px;
	margin-bottom: 10px;
}

#expertiseDivButtonsExpertise {
	margin-top: 10px;
}

#expertiseLblExpertise {
	line-height: 150%;
}

#expertiseLblMasterLeft {
	 padding-right: 10px;
}

#expertiseMasterLabelRight {
	 padding-left: 10px;
}

/*******************************************************************************
About page
*******************************************************************************/
#aboutDivButtons {
	margin-top: 20px;
}

.video {
	text-align: center;
}

/*******************************************************************************
Search results
*******************************************************************************/
.search-form {
	width: 250px;
	margin: auto;
}

#resultsDiv {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.filters {
	padding-bottom: 10px;
}

.thumbnail {
	cursor: pointer;
}

.resultsDivControls {
	padding-bottom: 10px;
}

.path-label {
	color: rgb(255, 255, 255);
    display: inline;
    padding: 0.3em 0.6em 0.3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 2;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25em 0.25em 0.25em 0.25em;
	cursor: pointer;
}

.path-label:hover, .path-label:visited:hover {
	color: rgb(225, 225, 225);
 	text-decoration: none;
}

.path-label:visited {
	color: rgb(255, 255, 255);
 	text-decoration: none;
}

.path-resource {
	background-color: rgb(20, 65, 115);
	padding: 0.4em 0.6em 0.4em;
	font-size: 80%;
}

.path-literal {background-color: rgb(100, 100, 100);}
.path-property {background-color: rgb(66, 139, 202);}

/*******************************************************************************
Item page
*******************************************************************************/
.itemDivNavigationButton {
	margin-top: 10px;
}

#itemDivImage {
	text-align: center;
}

.itemImg {
	max-width: 100%;
}

.annotorious-annotationlayer {
	max-width: 100%;
}

#itemDivPath {
	text-align: center;
}

#itemDivPath h4 {
	margin-top: 12px;
}

.itemBtnNavigation {
	width: 100px;
}

#itemDivAlignButton {
	text-align: right;
}

#itemDivMetadata {
	margin-top: 10px;
}

#itemDivNavigationExperiment {
	margin-top: 10px;
	text-align: center;
}

#itemDivAnnotationFields {
	margin-top: 20px;
}

.itemLbl {
	margin-right: 10px;
}

.itemDivHidden {
	display: none;
}

#itemFrmAnnotationFields {
	text-align: center;
	margin-bottom: 10px;
}

#itemLblPageType {
  vertical-align: bottom;
}

/* Item page: Typeahead functionality */
/* source: https://github.com/bassjobsen/typeahead.js-bootstrap-css */
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

span.twitter-typeahead .tt-suggestion {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}

span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	background-color: #337ab7;
	cursor: pointer;
}

.input-group.input-group-lg span.twitter-typeahead .form-control {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}

.input-group.input-group-sm span.twitter-typeahead .form-control {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

span.twitter-typeahead {
	width: 100%;
}

.input-group span.twitter-typeahead {
	display: block !important;
	height: 34px;
}

.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
	top: 32px !important;
}

.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
	border-radius: 0;
}

.input-group span.twitter-typeahead:first-child .form-control {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group span.twitter-typeahead:last-child .form-control {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.input-group.input-group-sm span.twitter-typeahead {
	height: 30px;
}

.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
	top: 30px !important;
}

.input-group.input-group-lg span.twitter-typeahead {
	height: 46px;
}

.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
	top: 46px !important;
}

/*******************************************************************************
Sliders
*******************************************************************************/
slider.slider-horizontal {
	height: 15px;
	align: center;
}

.slider-handle {
	width: 15px;
  	height: 15px;
}

.expertiseLblSlider {
	padding: 0px 15px 0px 15px;
}

/*******************************************************************************
Buttons
*******************************************************************************/
.btn-transparent {
	height: 40px; color: #fff; background-color: rgba(0, 0, 0, 0.33);	border: none;
}

.btn-transparent:focus {
	background-color: #fff; text-decoration: none;
}

.btn-transparent:hover {
	background-color: #fff; text-decoration: none;
}

.btn-link {
	color: #505050;
}

.btn-link:hover {
	color: #909090; cursor: pointer;
}

.btn-link:focus {
	outline: none;
}

/*******************************************************************************
Flags
*******************************************************************************/
/* source: http://lipis.github.io/flag-icon-css/ */
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

.flag-icon:before {
  content: "\00a0";
}

.flag-icon-en {
  background-image: url(../img/flags/en.svg);
}

.flag-icon-nl {
  background-image: url(../img/flags/nl.svg);
}
