/* Accurator css */
html,body {
	font-family: Arial, Helvetica, sans-serif;
}

.content {
	margin-top: 50px;
}

.bottomButtons {
	margin-bottom: 20px;
}
/* Navbar */
#headerImage {
	height: 20px;
}

/* Intro page */
.introScreen {
	overflow-x: hidden;
	overflow-y: hidden;
}

.backgroundImage {
	min-width: 125%;
	max-width: 125%;	
}

.introText {
	position: absolute; 
	top: 75px;
}

/* Register page */
.registerMessage {
	margin-top: 50px;
}

/* Profile page */
#rowStartChange {
	margin-top: 20px;
}

#frmGroupSearch {
	margin-top: 20px;
}

#frmLocale {
	margin-top: 20px;
}

#rowLastAnnotated {
	margin-top: 20px;
}

/* Expertise page */
#rowExpertise {
	margin-top: 10px;
}

#rowButtonsExpertise {
	margin-top: 10px;
}

/* Sliders */
slider.slider-horizontal {
	height: 15px;
	align: center;
}

.slider-handle {
	width: 15px;
  	height: 15px;
}

.sliderLabel {
	padding: 0px 15px 0px 15px;
}

/* Buttons */
.btn-transparent {
	height: 40px; color: #fff; background-color: rgba(0, 0, 0, 0.33);	border: none;
}

.btn-transparent:focus {
	background-color: #fff; text-decoration: none;
}

.btn-transparent:hover {
	background-color: #fff; text-decoration: none;
}

.btn-link {
	color: #505050;
}

.btn-link:hover {
	color: #909090; cursor: pointer;
}

.btn-link:focus {
	outline: none;
}